* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.hero-image {
    background-image: url("scotland-1987599_1280.jpg");
    background-size: cover;
    background-position: center;
    height: 352px;
    background-repeat: no-repeat;
}

.hero-text {
    color: whitesmoke;
    position: absolute;
    top: 280px;
    text-align: center;
    width: 100%;
}